<!-- Text section -->
<tr>
  <td class="bg-dark main-text tablet-padding mobile-padding" style="
      padding-top: 32px;
      padding-bottom: 52px;
      padding-left: 32px;
      padding-right: 32px;
      background-color: #ffffff;
    ">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <h1 style="
              margin: 0;
              font-size: 38px;
              line-height: normal;
              font-weight: 700;
              color: #434343;
            ">
            Новая скидка от партнера Octo&nbsp;Browser
          </h1>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <h3 style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            ">
            Рекламный трекер Keitaro дешевле на 20%
          </h3>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 10px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Добрый день! На связи команда Octo&nbsp;Browser.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 10px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Мы представляем специальное предложение от нового партнера —
            Keitaro!
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Скидка 20% на первую покупку лицензии Keitaro. Введите промокод
            <span style="font-weight: 700;">OCTOBROWSER</span> при первом заказе.
          </p>
        </td>
      </tr>
      <!-- Button/link section -->
      <tr>
        <td class="main-text__wrap main-text__wrap--mob" style="padding-bottom: 42px">
          <table border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
              <td class="btn" style="
                  background: #1890ff;
                  text-align: center;
                  border-radius: 4px;
                ">
                <a href="#" title="Ссылка на сайт Keitaro" target="_blank" rel="noopener" style="
                    text-align: center;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #1890ff;
                    border: 1px solid #1890ff;
                    padding: 16px 20px;
                    border-radius: 4px;
                    text-decoration: none;
                    display: inline-block;
                  ">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;На сайт
                  Keitaro&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Button/link section -->
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <h3 style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            ">
            Что умеет Keitaro?
          </h3>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 10px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Keitaro — это рекламный трекер, с которым вы сможете контролировать
            трафик, сократить расходы на нерентабельные связки и сфокусироваться
            на увеличении прибыли ваших рекламных кампаний.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Для всех новых клиентов доступен 14-дневный триал с лицензией Expert
            и полным набором функций и шаблонов со всеми необходимыми метриками.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <span style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            А также:
          </span>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <ul style="
              margin: 0;
              padding: 0;
              padding-left: 16px;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            <li>
              Высокопроизводительные отчеты c 30+ встроенными метриками,
              обновляемые каждую минуту
            </li>
            <li>Keitaro Geo DB</li>
            <li>Click API/Admin API</li>
            <li>Локальные лендинги и встроенный редактор</li>
            <li>
              Интеграции с Facebook, TikTok, Cloudflare, Namecheap и другими
              сервисами
            </li>
            <li>Полную поддержку IPV6</li>
            <li>Журнал пользовательских действий</li>
            <li>
              Защиту панели администратора и лендингов от сканирования
              spy-сервисами
            </li>
            <li>Мониторинг потоков</li>
            <li>Онлайн-поддержку</li>
          </ul>
        </td>
      </tr>
      <!-- Button/link section -->
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
              <td class="btn" style="
                  background: #1890ff;
                  text-align: center;
                  border-radius: 4px;
                  font-size: 0;
                ">
                <a href="#" title="Ссылка на сайт Keitaro" target="_blank" rel="noopener" style="
                    text-align: center;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #1890ff;
                    border: 1px solid #1890ff;
                    padding: 16px 20px;
                    border-radius: 4px;
                    text-decoration: none;
                    display: inline-block;
                    box-sizing: border-box;
                    width: 100%;
                  ">
                  &nbsp;Попробуйте Keitaro <br />с&nbsp;Octo&nbsp;Browser <br />со&nbsp;скидкой 20%&nbsp;
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Button/link section -->
      <tr>
        <td class="main-text__wrap" style="padding-top: 24px; padding-bottom: 10px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            More information about
            <a href="#" title="Ссылка на сайт Keitaro" target="_blank" rel="noopener" style="
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: #1890ff;
                text-decoration: none;
              ">Keitaro</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Find Octo Browser on
            <a href="#" title="Ссылка на сайт Keitaro" target="_blank" rel="noopener" style="
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: #1890ff;
                text-decoration: none;
              ">Facebook</a>,
            <a href="#" title="Ссылка на сайт Keitaro" target="_blank" rel="noopener" style="
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: #1890ff;
                text-decoration: none;
              ">Instagram</a> <br />
            and
            <a href="#" title="Ссылка на сайт Keitaro" target="_blank" rel="noopener" style="
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: #1890ff;
                text-decoration: none;
              ">Telegram</a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- End Text section -->
