<!-- Text section -->
<tr>
  <td class="bg-dark main-text tablet-padding mobile-padding" style="
      padding-top: 32px;
      padding-bottom: 52px;
      padding-left: 32px;
      padding-right: 32px;
      background-color: #ffffff;
    ">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <h1 style="
              margin: 0;
              font-size: 38px;
              line-height: normal;
              font-weight: 700;
              color: #434343;
            ">
            A new discount from an Octo Browser partner
          </h1>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <h3 style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            ">
            Keitaro ad tracker is 20% cheaper
          </h3>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 10px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Greetings from the Octo Browser Team!
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 10px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Today we would like to introduce a special offer from our new partner, Keitaro.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Use the <span style="font-weight: 700;">OCTOBROWSER</span> promo code with your first order, and you'll get
            a 20% discount on your first Keitaro license.
          </p>
        </td>
      </tr>
      <!-- Button/link section -->
      <tr>
        <td class="main-text__wrap main-text__wrap--mob" style="padding-bottom: 42px">
          <table border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
              <td class="btn" style="
                  background: #1890ff;
                  text-align: center;
                  border-radius: 4px;
                ">
                <a href="#" title="link to Keitaro" target="_blank" rel="noopener" style="
                    text-align: center;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #1890ff;
                    border: 1px solid #1890ff;
                    padding: 16px 20px;
                    border-radius: 4px;
                    text-decoration: none;
                    display: inline-block;
                  ">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Go to Keitaro&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Button/link section -->
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <h3 style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 700;
              color: #727272;
            ">
            What can Keitaro do?
          </h3>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 10px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Keitaro is an ad tracker that helps you control traffic, cut costs of unprofitable integrations, and focus
            on increasing
            the profits of your ad campaigns.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            All new clients can take full advantage of a 14-day trial period, which comes with an Expert license and a
            full set of
            functions and templates with all the necessary metrics.
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <span style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            What's more?
          </span>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px">
          <ul style="
              margin: 0;
              padding: 0;
              padding-left: 16px;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            <li>High-performance reports with 30+ built-in metrics that are updated every minute
            </li>
            <li>Keitaro Geo DB
            </li>
            <li>Click API/Admin API
            </li>
            <li>ЛLocal landings and a built-in editor
            </li>
            <li>
              Integrations with Facebook, TikTok, Cloudflare, Namecheap and other services
            </li>
            <li>Full IPv6 support</li>
            <li>User activity log</li>
            <li>Protection of the admin panel and landings against scanning by spy services
            </li>
            <li>Threads monitoring
            </li>
            <li>Online support</li>
          </ul>
        </td>
      </tr>
      <!-- Button/link section -->
      <tr>
        <td class="main-text__wrap" style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
              <td class="btn" style="
                  background: #1890ff;
                  text-align: center;
                  border-radius: 4px;
                  font-size: 0;
                ">
                <a href="#" title="link to Keitaro" target="_blank" rel="noopener" style="
                    text-align: center;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #1890ff;
                    border: 1px solid #1890ff;
                    padding: 16px 20px;
                    border-radius: 4px;
                    text-decoration: none;
                    display: inline-block;
                    box-sizing: border-box;
                    width: 100%;
                  ">
                  &nbsp;Try Keitaro with Octo Browser with a 20% discount&nbsp;
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Button/link section -->
      <tr>
        <td class="main-text__wrap" style="padding-top: 24px; padding-bottom: 10px">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            More information about
            <a href="#" title="link to Keitaro" target="_blank" rel="noopener" style="
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: #1890ff;
                text-decoration: none;
              ">Keitaro</a>
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-text__wrap">
          <p style="
              margin: 0;
              font-size: 18px;
              line-height: 25px;
              font-weight: 400;
              color: #727272;
            ">
            Find Octo Browser on
            <a href="#" title="link to Keitaro" target="_blank" rel="noopener" style="
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: #1890ff;
                text-decoration: none;
              ">Facebook</a>,
            <a href="#" title="link to Keitaro" target="_blank" rel="noopener" style="
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: #1890ff;
                text-decoration: none;
              ">Instagram</a> <br />
            and
            <a href="#" title="link to Keitaro" target="_blank" rel="noopener" style="
                font-size: 18px;
                line-height: 25px;
                font-weight: 400;
                color: #1890ff;
                text-decoration: none;
              ">Telegram</a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- End Text section -->
